html {
    font-family: "Poppins", sans-serif;
}

.card {
    /* background-color:aquamarine; */
    display: inline-block;
    width: 15em;
    border: 2px solid black;
    padding: 2em 1em;
    text-align: center;
    margin: .4em;
}

.icon {

}

.title {
    font-size: 2em;
}

.description {
    font-size: 0.9em;
}

.cta {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.4em 3em;
    border-radius: 100vh;
    text-transform: uppercase;
}
